main {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    justify-items: center;
}
#logo {
    line-height: 10rem;
    vertical-align: middle;
    transform: scale(1.25);
}
#content.signuppanel {
    min-width: 400px;
    width: 60%;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}
a[href="index.php"] {
    text-decoration-thickness: 7px;
}